<nav class="site-header__nav">
  <%= link_to 'Home', '/' %> /
  <%= link_to 'On the day', 'on-the-day.html' %> /
  <%= link_to 'Accommodation', 'accommodation.html' %> /
  <%= link_to 'RSVP', 'rsvp.html' %> /
  <%= link_to 'Gift List', 'gift-list.html' %>
</nav>