<nav class="site-header__nav">
  <%= link_to 'Home', '/' %>
  <span class="site-header__separator">/</span>
  <span class="site-header__separator">/</span>
  <%= link_to 'Accommodation', 'accommodation.html' %>
  <span class="site-header__separator">/</span>
  <%= link_to 'RSVP', 'rsvp.html' %>
  <%= link_to 'What We Did', 'what-we-did.html' %>
  <span class="site-header__separator">/</span>
  <%= link_to 'Gift List', 'gift-list.html' %>
</nav>