<nav class="site-header__nav">
  <%= link_to 'Home', '/' %>
  <span class="site-header__separator">/</span>
  <%= link_to 'On the day', 'on-the-day.html' %>
  <span class="site-header__separator">/</span>
  <%= link_to 'Accommodation', 'accommodation.html' %>
  <span class="site-header__separator">/</span>
  <%= link_to 'RSVP', 'rsvp.html' %>
  <span class="site-header__separator">/</span>
  <%= link_to 'Gift List', 'gift-list.html' %>
</nav>