<!doctype html>
<html>
  <head lang="en">
    <meta charset="utf-8">

    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <meta name="viewport" content="width=device-width">

    <title>Sasha &amp; Sam - 12 September 2015</title>

    <style>
    <%= partial("stylesheets/critical.css")  %>
    </style>

    <script id="loadcss">
    <%= partial 'javascripts/loadCSS.js' %>

    loadCSS( 'stylesheets/all.css', document.getElementById("loadcss") );
    </script>
    <noscript><%= stylesheet_link_tag "all" %></noscript>


  </head>

  <body>

    <canvas class="confetti"></canvas>

    <article>
      <%= yield %>
    </article>

    <footer class="u-spt u-spb">
      <%= image_tag 'flowers.png', width: 232 %>
    </footer>

    <script>
      !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
      arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
      d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
      insertBefore(d,q)}(window,document,'script','_gs');

      _gs('GSN-838081-T');
    </script>

    <script src="https://js.stripe.com/v2/"></script>
    <script>Stripe.setPublishableKey("<%= stripe_publishable_key %>")</script>
    <%= javascript_include_tag 'all', async: true %>
  </body>
</html>
