<header class="header--horizontal">

  <h1>
    <a href="/">
      <img src="/images/us.png" alt="Sasha &amp; Sam">
      Sasha &amp; Sam <span>12 September 2015</span>
    </a>
  </h1>

  <nav>
    <%= link_to 'Home', '/' %> /
    <%= link_to 'Details', 'details' %> /
    <%= link_to 'Accommodation', 'accommodation' %> /
    <%= link_to 'RSVP', 'rsvp' %> /
    <%= link_to 'Gift List', 'gift-list' %>
  </nav>
</header>