<header class="header--home">
  <img src="/images/us.png" alt="Sasha &amp; Sam">
  <h1>Sasha &amp; Sam are getting married <span>12 September 2015</span></h1>

  <nav>
    <%= link_to 'Home', '/' %> /
    <%= link_to 'On The Day', 'details' %> /
    <%= link_to 'Accommodation', 'accommodation' %> /
    <%= link_to 'RSVP', 'rsvp' %> /
    <%= link_to 'Gift List', 'gift-list' %>
  </nav>
</header>

<section class="page-content container">
  <h2>The Story So Far</h2>
  <p>We first met each other in the work lift after Sam accepted a job in London. A 6-month friendship bloomed from a mutual love for music, cigarettes and comedy shows. After going to see the Phenomenal Handclap Band for the second time in 1 week (and a bit of intervention from <a href="https://www.facebook.com/TheTeddyHolmes">Ed Holmes</a> and <a href="https://www.facebook.com/camilla.d.caires">Camilla McCusker nee de Caires</a>) we realised we both held huge crushes on the other more our friendship transformed into a relationship.</p>

  <p>Sam is 3 years Sasha’s junior and our colleagues welcomed the news with <a href="http://bigassmessage.com/f3afc" target="_blank">this</a>. Needless to say we’ve always kept a bit of humour and silliness around.</p>

  <p>5 years on, there has been 1 proposal, 1 surrogate child in the form of a cat called Rufus, 6 new jobs, 1 mortgage and 118 floorboards laid with a lot of help from family.</p>

  <p>We look forward to becoming a kickass husband and wife team.</p>
</section>